
* {
box-sizing: border-box;
}

body {
    font-family: 'TT Lakes';
}
.sidebar {
display: flex;
  position: sticky;/* высота задано 1024  */
  top: 0;
  left: 0;
  width: 320px;
  height: 1024px;
  background-color: #f5f5f5;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
flex-direction: column;

}

.header__icon {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container__top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.header__icon--search {
    display: flex;
    margin-left: 16px;
}

.header__icon--exit {background-image: url(/assets1/ic/x.svg)}
.header__icon--search {background-image: url(/assets1/ic/s.svg);}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.nav__link {

    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    padding-left: 0px;

}
.nav__link--active {
    color: #7E7E82;
}

.nav__link--active::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 120%;
    background-color: aqua;
    border-radius: 0 4px 4px 0;
}
.sidebar__footer {
    margin-top: auto;
}
.container__bottom {
    align-items: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.header__icon--call{background-image: url(./assets1/ic/call.svg);}
.header__icon--message{background-image: url(./assets1/ic/chat.svg);}
.header__icon--profile{background-image: url(./assets1/ic/profile.svg);}
.header__logo img {
    width: 100px;
    height: auto;
}
.contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
.contact__mail {
    font-weight: 500;
}
.contact__phone {
    font-weight: 700;
}
.language__list {
    top: 10px;
    width: 87px;
    height: 24px;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
}
.language__link--active {
    color: inherit;
    opacity: 0.5;
}
.language__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
